@using UniversityWebApp.ViewModels
@model EditGroupViewModel

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CourseId">Course</label>
        <select asp-for="CourseId" asp-items="ViewBag.CourseSelectList" class="form-control"></select>
        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

